@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Barlow Condensed Regular'),local('BarlowCondensed-Regular'),url(https://fonts.gstatic.com/s/barlowcondensed/v4/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2g.woff2) format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face {
    font-family:'Barlow Condensed';font-style:normal;font-weight:500;font-display:swap;src:local('Barlow Condensed Medium'),local('BarlowCondensed-Medium'),url(https://fonts.gstatic.com/s/barlowcondensed/v4/HTxwL3I-JCGChYJ8VI-L6OO_au7B4-Lwz3bWuQ.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

#app,body {
    font-family: 'Barlow Condensed',sans-serif
}


                @font-face {
			font-family: "Material Design Icons";
			src: url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/fonts/materialdesignicons-webfont.eot");
			src: url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/fonts/materialdesignicons-webfont.eot?#iefix&v=4.9.95") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/fonts/materialdesignicons-webfont.woff2") format("woff2"), url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/fonts/materialdesignicons-webfont.woff") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/fonts/materialdesignicons-webfont.ttf") format("truetype");
			font-weight: normal;
			font-style: normal;
			unicode-range: U+F000-FFFFF;
		}
                @font-face {
                        font-family: 'Material Design Icons';
                        src: url('https://hubitat.ezeek.us/hubitat-dashboard/assets/fonts/at-icons-proprietary.woff') format('woff'), url('https://hubitat.ezeek.us/hubitat-dashboard/assets/fonts/at-icons-proprietary.woff') format('truetype');
                        font-weight: normal;
                        font-style: normal;
                        unicode-range: U+E900-EFFF;
                }
/*
@font-face {
    font-family:"Material Design Icons";src:url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/fonts/materialdesignicons-webfont.woff2) format("woff2");font-weight:400;font-style:normal;unicode-range:U+F000-FFFFF
}
*/

.he-dimmer_medium:before,
.he-dimmer_low:before,
.he-running:before,
.tile.shades .tile-primary i.material-icons,
.he-shades_closed:before,
.he-shades_partially_open:before,
.he-not_present:before,
.he-outlet_3:before,
.he-outlet_off:before,
.he-bulb_off:before,.he-bulb_on:before,.he-dimmer_low:before,.he-dimmer_medium:before,.he-door_closed:before,.he-door_open:before,.he-fire1:before,.he-fire_alarm_clear:before,.he-garage_closed:before,.he-garage_closing:before,.he-garage_open:before,.he-garage_opening:before,.he-hour-glass:before,.he-motion-sensor:before,.he-motion_detector_3:before,.he-motion_detector_3_filled:before,.he-switch_2:before,.he-switch_2_flipped:before,.he-water_dry:before,.he-water_wet:before,.he-window_1:before,.he-window_2:before,.tile.dashboard .tile-primary::before {
    font-family: "Material Design Icons"!important
}

.he-shades_open:before {
    content: "\F0149";
}

.he-shades_closed:before {
    content: "\F0147";
}

.tile.shades .tile-primary.closing i.material-icons:before,
.tile.shades .tile-primary.partially.open i.material-icons:before,
.tile.shades .tile-primary.opening i.material-icons:before {
    content: "\F0148";
}

.he-not_present:before {
    content: "\FA47";
}

.he-outlet_3:before {
    content: "\F6A4";
}

.he-outlet_off:before {
    content: "\F6A5";
}

.he-bulb_off,.he-bulb_on,.he-dimmer_low,.he-dimmer_medium {
    margin-top: -15px;
    margin-bottom: 4px
}

.he-bulb_off,.he-bulb_on {
    padding: 3px!important
}

.popup-content .he-bulb_off,.popup-content .he-bulb_on {
    color: #000!important
}

.popup-content {
    margin-left: auto;
    margin-right: auto
}

.tile.bulb-color .tile-primary {
    padding-bottom: 0!important;
    overflow: visible
}

.he-bulb_on:before {
    content: "\F6E8";
    display: block
}

.he-bulb_off:before {
    content: "\F336"
}

.he-fire_alarm_clear:before {
    content: "\F392"
}

.he-fire1:before {
    content: "\F238"
}

.he-water_wet:before {
    content: "\F58C"
}

.he-water_dry:before {
    content: "\F58D"
}

.he-garage_closed:before {
    content: "\F6D8";
    font-size: 120%
}

.he-garage_open:before {
    content: "\F6D9";
    font-size: 120%
}

.he-garage_closing:before,.he-garage_opening:before {
    font-size: 120%;
    content: "\F871"
}

.he-hour-glass:before {
    content: "\F1D8"
}







/* motion */
.he-running:before {
    content: "\e94d";

}

.he-motion-sensor:before {
    content: "\e94c";
}


.he-dimmer_low:before,.he-switch_2:before {
    content: "\FA18"
}

.he-dimmer_medium:before,.he-switch_2_flipped:before {
    content: "\F521"
}

.he-dimmer_low:before,.he-dimmer_medium:before {
    margin-top: -5px
}

.he-window_1:before {
    content: "\F5AE"
}

.he-window_2:before {
    content: "\F5B1"
}

.he-door_open:before {
    content: "\F81B"
}

.he-door_closed:before {
    content: "\F819"
}

.text-tile {
    background: 0 0!important;
    color: #000;
    padding: 0 10px;
    margin: 0
}

.text-tile .tile-edit {
/*
    color: rgba(0,0,0,.7);
    left: 0;
    top: .6em;
    margin-left: -5px
*/
}

.text-tile .justify-center,.text-tile .text-center {
    text-align: unset;
    justify-content: unset
}

.tile.date>div {
    background-color: #fff
}

.tile.date .flex {
    line-height: normal;
    font-size: 100%
}

.tile.date .border-black {
    border: 0;
    border-radius: 20px
}

/*
.he-shades_closed:before,.he-shades_closing:before,.he-shades_open:before,.he-shades_opening:before,.he-shades_partially_open:before,
*/

.tile.date .text-25 {
    font-size: 80%
}

.tile.date .day,.tile.date .weekday,.tile.date .year {
    padding: 0
}

.tile.music-player,.tile.attribute,.tile.clock,.tile.date-clock,.tile.mode {
    border: 1px solid #fff
}

.tile.date-clock .tile-primary {
    font-weight: 500;
    color: #fff
}

.tile.date-clock .tile-primary div {
    font-size: 80%!important;
    font-weight: 400;
    padding-left: 10px
}

.tile.date-clock .tile-contents {
    margin-top: 0;
    height: calc(100%)!important
}

.tile.date-clock small {
    margin-left: 3px
}

.tile.dashboard {
    margin-top: 0;
    overflow: visible;
    border: 1px solid #fff;
 /*   height: auto; */
    background-color: rgba(255,255,255,.5);
 /*   margin-bottom: 2em*/
    height: 50%;
}

.tile.dashboard .tile-title {
    display: none
}

.tile.dashboard .tile-primary {
   /* height: auto; */
    /* display: inline-block; */
    color: black;
    /* line-height: 1.1em; */
    /* padding: 5px; */
    /* text-align: left; */
    /* font-size: 140% !important; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    align-self: center;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.tile.dashboard .tile-primary::before {
    content: "\F56E"
}

.tile.dashboard .tile-contents {
    margin-top: 0;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
}

.tile.thermostat .absolute.bottom-0 {
    padding-bottom: 5px;
    top: 10px;
    left: 17px;
    text-align: left;
    width: auto;
    bottom: auto;
    font-weight: 500;
    word-spacing: 100vw
}

.tile.thermostat .w-full.my-1 {
    position: absolute;
    bottom: 0
}

.tile.thermostat .heating.pt-1 {
    padding-bottom: 21px
}

.tile.thermostat .cooling .inline-block,.tile.thermostat .heating .inline-block {
    font-size: 25px;
    vertical-align: super
}

.tile.thermostat .cooling .inline-block br,.tile.thermostat .heating .inline-block br {
    content: " ";
    padding: 5px
}

.tile.link {
    border: 2px solid #fff
}

.tile.link .tile-title {
    display: none
}

.tile.link .tile-contents {
    height: calc(100%);
    padding: 0;
    margin: 0
}

.tile.link .tile-primary {
    padding: 0;
    margin: 0
}

.tile.link .tile-primary div {
    text-shadow: 2px 2px rgba(0,0,0,.6);
    margin-top: 0
}

.tile.link .tile-primary div:hover {
    margin-top: -4px
}

.tile.dimmer .tile-primary .dimmer {
    margin-bottom: 7px;
    margin-top: 3px
}

.tile.shades .tile-primary .material-icons {
/*    margin-top: -5px; */
/*    display: none */
}

.tile.shades .dimmer {
    margin-top: 6px
}

.tile.image .inset-auto img {
    object-fit: cover
}

.tile.energy {
    border: 2px solid rgba(236,255,34)
}

.tile.hsm {
    overflow: hidden
}

.tile.hsm .popup-content .top-0.right-0.absolute {
    padding: .5em 1em;
    margin: 0;
    width: auto!important
}

.vue-slider {
    padding: 0 0 5px!important
}

.tile {
    text-shadow: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: 1px
}

.dashName {
    font-size: 25px;
    text-shadow: none;
    color: #000;
    margin-left: 10px
}

.tile-secondary {
    display: none
}

.tile-title {
    position: relative;
    left: auto;
    right: auto;
    padding: 7px 6px 1px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 1px;
    opacity: .8;
    overflow: unset;
}

.tile-title::after {
    white-space: pre-wrap;
}

.dashBack {
    text-shadow: none;
    color: #000;
    padding-left: 5px
}

.he-logo-mark:before {
    font-size: 40px
}

.tile-tertiary {
    padding: 5px;
    position: absolute;
    left: 8px;
    bottom: auto;
    font-size: 85%;
    top: auto;
    right: auto;
    opacity: .8;
}

.tile-contents {
    height: calc(80%);
    width: calc(100%);
    padding: 0 4px
}

.text-green-600 {
    color: rgba(0,255,105,.75);
    text-shadow: none
}

.dashboard div .header {
    padding: 10px 10px 10px 15px;
}

.wrapper {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 15px;
    width: calc(100%);
    overflow: auto
}

.tile-edit {
    top: auto;
    bottom: 10px;
    opacity: .3
}

.tile-primary {
    padding-bottom: calc(10%);
    overflow: visible;
}

smartly {
    grid-column-end: -1;
    grid-row-end: -1;
    display: inline-block;
    height: calc(100% + 25px);
    z-index: -1;
    width: calc(100% + 15px);
/*    border: 1px solid red*/
}

@media (min-width:768px) and (max-width:1000px) {
    .md\:w-2\/3 {
        width: 80%
    }
}

.navHeader {
    height: 3em
}

.navHeader div.navLink.float-right:first-child,.navHeader div.navLink:last-child {
    background-color: red;
    font-weight: 700;
    padding: 0 1em
}

.navHeader div.navLink.float-right,.navHeader>.flex>div {
    text-transform: uppercase;
    font-size: 1.3em;
    margin: 0 4px;
    height: auto;
    text-align: center;
    padding: 0 .5em;
    background-color: #323232;
    border-radius: 20px;
    display: inline-table
}

.navHeader>.flex>div.pl-2 {
    display: none
}

#app>.popup-container .menu .overflow-auto .flex .cursor-pointer {
    border: 1px solid gray;
    margin: .5em 0 0 .5em;
    padding: 1em;
    border-radius: 6px;
    line-height: .5em
}

#app>.popup-container .exportBox {
    margin-top: 1em
}

.md\:w-1\/2 .md\:w-1\/2 {
    width: 50%
}

.deviceSelect .devices .search input,.selectTemplate .templates .search input {
    padding: 5px;
    border-radius: 8px;
    margin-left: 5px;
    width: 100%
}

.deviceSelect .devices .search,.selectTemplate .templates .search {
    padding: 1em;
    font-size: 160%
}

.devices .deviceList,.templates .templates {
    font-size: 1.5em
}

[type=checkbox],[type=radio] {
    height: 1em;
    width: 1em;
    margin: .25em 0
}

h4 {
    font-size: 1.2em;
    margin: .5em 0;
    opacity: .8;
    font-weight: 500
}

h3 {
    margin-bottom: auto
}

.text-lg,h3,label span {
    font-size: 1.5em;
    display: inline-block
}

.text-lg,h3 {
    color: #000;
    overflow: visible;
    margin-left: .5em;
    border-bottom: 1px solid rgba(0,0,0,.5);
    width: auto;
    margin-top: auto
}

label span {
    margin-top: -1px;
    padding-top: .25em;
    vertical-align: top;
    margin-bottom: .5em
}

button,input,select,textarea {
    font-size: 180%
}

h1,h2,h3,h4 {
    font-family: 'Barlow Condensed',sans-serif
}

.popup-content .top-0.right-0.absolute {
    background-color: red;
    color: #fff;
    font-weight: 700
}

@media (max-width:767px) {
    #app .popup-container .menu {
        width: 98%
    }

    .md\:w-2\/3 {
        width: 96%
    }

    #app>.popup-container .menu .overflow-auto .flex .cursor-pointer,.navHeader div.navLink.float-right,.navHeader i.material-icons,.navHeader>.flex>div {
        font-size: 1em
    }

    .navHeader {
        height: 2.5em
    }
}

.tile-primary>div {
    margin-top: 4px
}

.text-lg {
    margin-bottom: .5em
}

.tile.date-clock .tile-title {
    padding: 0;
    margin: 0;
    height: 2px
}

@media (max-width:767px) {
    .popup-content.h-85p {
        height: auto
    }
}

.tile.thermostat i {
    display: inline-block
}

.tile.dashboard .tile-edit {
    bottom: auto;
    top: 1px
}

@media screen and (max-width:1284px) and (min-width:1280px) {
/*
    .tile.dashboard .tile-primary {
        font-size: 100%!important;
        line-height: 1em!important;
        padding: 0 5px 5px!important
    }
*/

    .tile.dashboard {
        zoom: unset;
    }
}

@media screen and (max-width: 1924px) and (min-width:1920px){
    .tile.dashboard {
        zoom: unset;
    }
}


.tile.date>div.h-full.w-full {
    font-size: 1.5em!important
}

.tile.date div.weekday,.tile.date div.year {
    font-size: 140%!important;
    line-height: .75em
}

.tile.date div.day {
    font-size: 250%!important;
    font-weight: 700
}

.mt-12 {
    margin-top: 5em;
}

.mt-16 {
    margin-top: 7em;
}

/*
.tile.bulb-color, .tile.bulb, .tile.dimmer, .tile.switch {
    border: 1px solid rgba(0, 0, 0, 0.25);
}
*/


[class*=" battery-"]>i.material-icons::before {
    font-family: "Material Design Icons";
}


.battery-100>i.material-icons::before,
.battery-99>i.material-icons::before {
    content: "\F079";
}

.battery-98>i.material-icons::before,
.battery-97>i.material-icons::before,
.battery-96>i.material-icons::before,
.battery-95>i.material-icons::before,
.battery-94>i.material-icons::before,
.battery-93>i.material-icons::before,
.battery-92>i.material-icons::before,
.battery-91>i.material-icons::before {
    content: "\F082";
}

.battery-90>i.material-icons::before,
.battery-89>i.material-icons::before,
.battery-88>i.material-icons::before,
.battery-87>i.material-icons::before,
.battery-86>i.material-icons::before,
.battery-85>i.material-icons::before,
.battery-84>i.material-icons::before,
.battery-83>i.material-icons::before,
.battery-82>i.material-icons::before,
.battery-81>i.material-icons::before {
    content: "\F081";
}

.battery-80>i.material-icons::before,
.battery-79>i.material-icons::before,
.battery-78>i.material-icons::before,
.battery-77>i.material-icons::before,
.battery-76>i.material-icons::before,
.battery-75>i.material-icons::before,
.battery-74>i.material-icons::before,
.battery-73>i.material-icons::before,
.battery-72>i.material-icons::before,
.battery-71>i.material-icons::before {
    content: "\F080";
}

.battery-70>i.material-icons::before,
.battery-69>i.material-icons::before,
.battery-68>i.material-icons::before,
.battery-67>i.material-icons::before,
.battery-66>i.material-icons::before,
.battery-65>i.material-icons::before,
.battery-64>i.material-icons::before,
.battery-63>i.material-icons::before,
.battery-62>i.material-icons::before,
.battery-61>i.material-icons::before {
    content: "\F07F";
}

.battery-60>i.material-icons::before,
.battery-59>i.material-icons::before,
.battery-58>i.material-icons::before,
.battery-57>i.material-icons::before,
.battery-56>i.material-icons::before,
.battery-55>i.material-icons::before,
.battery-54>i.material-icons::before,
.battery-53>i.material-icons::before,
.battery-52>i.material-icons::before,
.battery-51>i.material-icons::before {
    content: "\F07E";
}

.battery-50>i.material-icons::before,
.battery-49>i.material-icons::before,
.battery-48>i.material-icons::before,
.battery-47>i.material-icons::before,
.battery-46>i.material-icons::before,
.battery-45>i.material-icons::before,
.battery-44>i.material-icons::before,
.battery-43>i.material-icons::before,
.battery-42>i.material-icons::before,
.battery-41>i.material-icons::before {
    content: "\F07D";
}

.battery-40>i.material-icons::before,
.battery-39>i.material-icons::before,
.battery-38>i.material-icons::before,
.battery-37>i.material-icons::before,
.battery-36>i.material-icons::before,
.battery-35>i.material-icons::before,
.battery-34>i.material-icons::before,
.battery-33>i.material-icons::before,
.battery-32>i.material-icons::before,
.battery-31>i.material-icons::before {
    content: "\F07C";
}

.battery-30>i.material-icons::before,
.battery-29>i.material-icons::before,
.battery-28>i.material-icons::before,
.battery-27>i.material-icons::before,
.battery-26>i.material-icons::before,
.battery-25>i.material-icons::before,
.battery-24>i.material-icons::before,
.battery-23>i.material-icons::before,
.battery-22>i.material-icons::before,
.battery-21>i.material-icons::before {
    content: "\F07B";
}

.battery-20>i.material-icons::before,
.battery-19>i.material-icons::before,
.battery-18>i.material-icons::before,
.battery-17>i.material-icons::before,
.battery-16>i.material-icons::before,
.battery-15>i.material-icons::before,
.battery-14>i.material-icons::before,
.battery-13>i.material-icons::before,
.battery-12>i.material-icons::before,
.battery-11>i.material-icons::before {
    content: "\F07A";
}

.tile.battery .tile-primary {
    grid-template-columns: repeat(2, 50%);
    display: grid;
    height: calc(100%);
    align-items: center;
    grid-template-rows: 100%;
}

.tile.battery .tile-primary>i.material-icons {
text-align: right;
}

.tile.battery .tile-primary>div {
text-align: left;
}

.tile.battery {
    background-color: rgba(0, 255, 105, 0.75); /*rgba(15, 206, 93, 0.9);*/
    color: rgba(0, 0, 0, 0.66);
}

.tile.battery .tile-primary,
.tile.temperature .tile-primary {
width: 100%;
margin-top: -3px;
padding-left: 5px;
}

.tile.temperature .tile-primary {
/*
display: block;
line-height: normal;
*/
}

.tile.battery .tile-contents {
    display: block;
}






